.h4d1{
    width: 24%;
    position: relative;

    &:hover{
        .h4imgdiv{
            .h4imgdiv-1{
                .h4iconsdiv{
                    transform: translateY(0);
                    transition: 0.5s;
                }
            }
        }
    }


    .h4imgdiv{
        width: 100%;
        position: relative;

        .h4d1img1{
            width: 100%;
        }

        .h4imgdiv-1{
            overflow: hidden;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            .h4iconsdiv{
                display: flex;
                transform: translateY(-100%);
                transition: 0.5s;

                .h4icon1{
                    width: 55px;
                    height: 55px;
                    border: none;
                    background: rgba(0,0,0,0.5);
                    color: white;
                    font-size: 20px;
                    cursor: pointer;
                    transition: 0.5s;
                    


                    &:hover{
                        background-color: aqua;
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    .h4textdiv{
        padding: 35px 42px 29px;

        .h4p1{
            text-decoration: none;
            font-family: Montserrat, Georgia, "Times New Roman", Times, serif;
            font-weight: 400;
            color: #3b3940;
            line-height: 1.33333;
            font-size: 24px;
            transition: 0.5s;

            &:hover{
                color: #f0a951;
            }
        }

        .h4p2{
            margin-top: 13px;
            font-family: Martel, Helvetica, Arial, sans-serif;
                font-size: 16px;
                line-height: 1.75;
                color: #5f5f61;
        }
    }


    .h4d1bottomDiv{
        width: 100%;
        height: 10px;
        background-color: silver;
        position: relative;

        &::before{
            position: absolute;
            width: 100%;
            height: 100%;
            content: '';
            transition: 0.5s;
            background-color: #f0a951;
            transform: scale(0,1);
        }
    }

    &:hover .h4d1bottomDiv{
        &::before{
           transform: scale(1);
           transition: 0.5s;
        }
    }
}