
.w6d1{
    width:23%;
    height: 270px;
    display: flex;
    align-items: center;
    border: 3px solid #f0a951;
    transition: 0.5s;
    background-color: white;

    &:hover{
        background-color: #f0a951;
      
    }

    &:hover .w6d1-1{
           transform: translateY(0);
           transition: 0.5s;
         
           .w6d1p{
            color: white;
            transition: 0.5s;
           }
           .w6d1p1{
            color: white;
            transition: 0.5s;
           }
           .w6d1p2{
            color: white;
            opacity: 1;
            transition: 0.5s;
           }
    }


    .w6d1-1{
        width: 100%;
        transform: translateY(40px);
        transition: 0.5s;


        .w6d1p{
            text-align: center;
            font-size: 40px;
            color: #f0a951;
            transition: 0.5s;
        }

        .w6d1p1{
            color: #5f5f61;
            line-height: 1.33333;
            font-size: 24px;
            font-family: Montserrat, Georgia, "Times New Roman", Times, serif;
            font-weight: 400;
            text-align: center;
            margin: 10px 0px;
            transition: 0.5s;
        }

        .w6d1p2{
            color: #5f5f61;
            line-height: 1.33333;
            font-size: 17px;
            font-family: Montserrat, Georgia, "Times New Roman", Times, serif;
            font-weight: 400;
            text-align: center;
           padding: 0px 13px;
           transition: 0.5s;
           opacity: 0;
        }
    }
}